@model IEnumerable<APP_MVC_TEST_WCF.ReferenciaNegocios.Cliente>

@{
    ViewBag.Title = "ClientesPorNombre";
}

<h2>ClientesPorNombre</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Crearemoa un formulario para poder agregar una caja de texto para podersela mandar al Action*@

@using (Html.BeginForm())
{
    <span>Ingrese el nombre del Cliente</span>
    <input type="text" name="nombre" id="nombre" value="@ViewBag.nombre"/>
    <input type="submit" value="Consulta" class="btn btn-primary"/>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
